# iCEstick constraints

# Red LEDs
set_io LED0 99
set_io LED1 98
set_io LED2 97
set_io LED3 96

# Green LED
set_io LED4 95

# IrDA port
set_io SD 107

# Pmod connector
set_io in_sig 78 # Pin 1

# Other header
set_io out_sig 112
set_io enable 113

# 12 MHz clock
set_io clk_in 21

