# iCEstick constraints

# Red LEDs
set_io led0 99
set_io led1 98

# UART
set_io uart_tx_pin 8
set_io uart_rx_pin 9

# PMOD
set_io harness_out 78 #Pin1
set_io delay_line_in 87 #Pin7

set_io delay_line_out 80 #Pin3
set_io harness_in 90 #Pin9

# 12 MHz clock
set_io clk 21
