
#Created by Constraints Editor (xc6slx9-csg324-3) - 2017/07/03
NET clk_in          LOC = "C10" | IOSTANDARD = "LVCMOS33";               # "CLOCK_Y3"
NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk_in = PERIOD "clk_in" 10 ns HIGH 50%;

# Connector J5
NET in_sig          LOC = "F15" | IOSTANDARD = "LVCMOS33";               # "PMOD1_P1"
NET out_sig          LOC = "F16" | IOSTANDARD = "LVCMOS33";               # "PMOD1_P2"

NET led LOC = "P4" |IOSTANDARD = "LVCMOS33";

CONFIG VCCAUX = "3.3";

